body{
    padding-top: auto;
    text-align: center;
    padding-top: 12.5rem;
    background-color: #ccdee5 ;
}


.paragraph-style{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    

}