.contanier {
  height: 500px;
  background-color: aqua;
  color: #000;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: 30%; */
}

.label-container {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.box-container {
  height: 10rem;
  display: flex;
  justify-content: center;
}

.label {
  padding: 1rem;
}

.semicolon {
  font-size: 3rem;
  color: #000;
}

.box {
  font-size: 2rem;
  padding: 1rem;
}

button {
  width: 5rem;
  height: 3rem;
  background-color: #000;
  color: white;
  margin-left: 10rem;
}

#start {
  margin-left: 40%;
  margin-right: 0;
  margin-top: 2%;
}

#reset {
  margin-top: 2%;
  margin-left: 50%;
}
